<!DOCTYPE html>
<html>
  <head lang="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      
      <p>Щоб замовити послугу зробіть два простих кроки:</p>
      <p></p>
      <h3>Крок 1</h3>
      <p>Увійдіть в систему через BankID (увівши дані інтернет-банкінгу), електронно-цифровий підпис (наприклад, ЕЦП податкової, мінюсту та ін.) або за допомогою ID-картки.</p>
      <p></p>
      <h3>Крок 2</h3>
      <p>Заповніть форму, де обов'язково вкажіть всі необхідні дані.</p>      
      
      <h2>Питання які виникають найчастіше.</h2>
      
      <p>Зміст:</p>
      <ol style="margin-bottom: 12px;">
      <li><a href="" ng-click="gotoAnchor(1)">Що робити із виконавчим листом?</a></li>
      <li><a href="" ng-click="gotoAnchor(2)">Хто звільняється від сплати авансового внеску?</a></li>
      <li><a href="" ng-click="gotoAnchor(3)">Як можна ознайомитись з матеріалами виконавчого провадження?</a></li>
      <li><a href="" ng-click="gotoAnchor(4)">Як перераховуються кошти, стягнуті з боржника?</a></li>
      <li><a href="" ng-click="gotoAnchor(5)">Яким може бути розмір аліментів?</a></li>
      <li><a href="" ng-click="gotoAnchor(6)">Які строки видачі довідки про наявність заборгованості зі сплати аліментів?</a></li>
      <li><a href="" ng-click="gotoAnchor(7)">Як стягнути аліменти з особи, яка проживає за кордоном?</a></li>
      <li><a href="" ng-click="gotoAnchor(8)">Які негативні наслідки за несплату аліментів?</a></li>
      <li><a href="" ng-click="gotoAnchor(9)">Який порядок виїзду за кордон тому з батьків, хто проживає з дитиною?</a></li>
      <li><a href="" ng-click="gotoAnchor(10)">Який порядок подачі скарги на рішення, дії або бездіяльність державного виконавця?</a></li>
      <li><a href="" ng-click="gotoAnchor(11)">Чому можуть затримуватись перерахування аліментних платежів, які утримуються на підприємстві, де отримує дохід боржник?</a></li>
      </ol>
      
      
      <p><h4 id="anchor1"><b>1.Що робити із виконавчим листом?</b></h4></p>
      
Отримавши виконавчий лист у суді, в якому розглядалася справа, стягувачу необхідно звернутися із заявою про примусове виконання рішення до державної виконавчої служби. Виконавчі дії проводяться за місцем проживання, перебування, роботи боржника або за місцезнаходженням його майна.<br><br>
Перелік територіальних органів державної виконавчої cлужби Дніпропетровської області можна знайти за посиланням <a href="http://udvs-dp.gov.ua/districts" target="_blank">http://udvs-dp.gov.ua/districts</a>.<br><br>
До заяви про примусове виконання рішення стягувач додає квитанцію про сплату авансового внеску в розмірі 2 відсотків суми, що підлягає стягненню, але не більше 10 мінімальних розмірів заробітної плати, а за рішенням немайнового характеру та рішень про забезпечення позову - у розмірі одного мінімального розміру заробітної плати з боржника - фізичної особи та в розмірі двох мінімальних розмірів заробітної плати з боржника - юридичної особи (крім випадків звільнення від сплати авансового внеску згідно з Законом України «Про виконавче провадження»).<br>

      <p><h4 id="anchor2"><b>2.Хто звільняється від сплати авансового внеску?</b></h4></p>

Від сплати авансового внеску звільняються стягувачі за рішеннями про:
<ul>
<li>стягнення заробітної плати, поновлення на роботі та за іншими вимогами, що випливають із трудових правовідносин;</li>
<li>обчислення, призначення, перерахунок, здійснення, надання, одержання пенсійних виплат, соціальних виплат непрацездатним громадянам, виплат за загальнообов’язковим державним соціальним страхуванням, виплат та пільг дітям війни, інших соціальних виплат, доплат, соціальних послуг, допомоги, захисту, пільг;</li>
<li>відшкодування шкоди, заподіяної каліцтвом або іншим ушкодженням здоров’я, а також смертю фізичної особи;</li>
<li>стягнення аліментів, заборгованості зі сплати аліментів, додаткових витрат на дитину, неустойки (пені) за прострочення сплати аліментів, суми індексації аліментів, встановлення побачення з дитиною або усунення перешкод у побаченні з дитиною;</li>
<li>відшкодування майнової та/або моральної шкоди, завданої внаслідок вчинення кримінального правопорушення.</li>
</ul>
Від сплати авансового внеску також звільняються державні органи, особи з інвалідністю внаслідок війни, особи з інвалідністю I та II груп, законні представники дітей з інвалідністю і недієздатних осіб з інвалідністю I та II груп, громадяни, віднесені до категорій 1 та 2 осіб, які постраждали внаслідок Чорнобильської катастрофи, у разі їх звернення до органів державної виконавчої служби.<br><br>
У разі виконання рішення Європейського суду з прав людини авансовий внесок не сплачується.

      <p><h4 id="anchor3"><b>3.Як можна ознайомитись з матеріалами виконавчого провадження?</b></h4></p>
      
Сторони виконавчого провадження (її представники) можуть знайомитися з матеріалами виконавчого провадження, внесеними до автоматизованої системи виконавчого провадження, за адресою в мережі Інтернет <a href="https://asvpweb.minjust.gov.ua" target="_blank">https://asvpweb.minjust.gov.ua</a>, за допомогою ідентифікатору доступу, зазначеному в постанові про відкриття виконавчого провадження, а також безпосередньо у відділі державної виконавчої служби. 

      <p><h4 id="anchor4"><b>4.Як перераховуються кошти, стягнуті з боржника?</b></h4></p>
      
Грошові суми, стягнуті з боржника (у тому числі одержані від реалізації майна боржника), зараховуються на відповідний рахунок органу державної виконавчої служби. За письмовою заявою стягувача - фізичної особи стягнуті грошові суми перераховуються виконавцем на зазначений стягувачем рахунок у банку або іншій фінансовій установі чи надсилаються на адресу стягувача поштовим переказом, що здійснюється за його рахунок, крім переказу аліментних сум.

      <p><h4 id="anchor5"><b>5.Яким може бути розмір аліментів?</b></h4></p>
      
Згідно ст. 71 Закону України «Про виконавче провадження» виконавець стягує з боржника аліменти у розмірі, визначеному виконавчим документом, але не менше мінімального гарантованого розміру, передбаченого ч. 2 ст. 182 Сімейного кодексу України.<br><br>
Мінімальний гарантований розмір аліментів на одну дитину не може бути меншим, ніж 50% прожиткового мінімуму для дитини відповідного віку, встановлений Законом України «Про Державний бюджет України».<br><br>
Мінімальний рекомендований розмір аліментів на одну дитину становить розмір прожиткового мінімуму для дитини відповідного віку і може бути присуджений судом у разі достатності заробітку (доходу) платника аліментів.

      <p><h4 id="anchor6"><b>6.Які строки видачі довідки про наявність заборгованості зі сплати аліментів?</b></h4></p>
      
У разі надходження до органу державної виконавчої служби заяви стягувача про видачу довідки про наявність заборгованості зі сплати аліментів, то така довідка, скріплена печаткою органу державної виконавчої служби, видається протягом трьох робочих днів.

      <p><h4 id="anchor7"><b>7.Як стягнути аліменти з особи, яка проживає за кордоном?</b></h4></p>
      
Україною укладено низку міжнародних договорів з надання міжнародної правової допомоги у цивільних справах, на підставі яких можливо вирішити питання про стягнення аліментів з особи, яка проживає за кордоном. Вимоги щодо складання, оформлення та переліку необхідних документів, а також порядку звернення до компетентного органу іноземної держави, визначаються відповідним міжнародним договором, що застосовується у відносинах між Україною та договірною державою, у якій перебуває боржник.<br><br>
У  разі, якщо стягувач має рішення суду про стягнення аліментів, але боржник виїхав за кордон, не сплативши їх, йому необхідно визнати рішення суду для виконання  на території іншої держави. Для цього слід звернутися до відповідного територіального управління юстиції з клопотанням про визнання і виконання рішення про стягнення аліментів на підставі Конвенції про стягнення аліментів за кордоном.<br><br>
Крім цього, до клопотання потрібно додати наступні документи, які мають бути належним чином оформлені судом, що виніс рішення:
    <ol>
<li>Копія судового рішення;</li>
<li>Довідка про те, що рішення набрало законної сили;</li>
<li>Довідка про часткове виконання або невиконання рішення на території України;</li>
<li>Довідка про те, що відповідач був належним чином повідомлений про день судового засідання, та копії документів, що це підтверджують, якщо відповідач не брав участі в судовому засіданні;</li>
<li>Копія протоколу судового засідання (або журналу судового засідання), під час якого справу про стягнення аліментів було розглянуто по суті; </li>
<li>Фотокартка стягувача.</li>
    </ol>
Клопотання надсилається через територіальне управління юстиції у відповідній області до Міністерства юстиції України, яке перевіряє його на дотримання вимог законодавства. Якщо інформації щодо боржника буде недостатньо, Міністерство юстиції має право отримати її у відповідних органах або повідомити стягувача про необхідність надання додаткових документів.<br><br>
Надалі, Міністерство юстиції України письмово повідомляє стягувача про хід та результати розгляду цього клопотання.<br><br>
Докладніше про виконання таких рішень розповідається за посиланням <a href="http://udvs-dp.gov.ua/media/article/24" target="_blank">http://udvs-dp.gov.ua/media/article/24</a>

      <p><h4 id="anchor8"><b>8.Які негативні наслідки за несплату аліментів?</b></h4></p>
      
У разі виникнення заборгованості з вини особи, яка зобов'язана сплачувати аліменти за рішенням суду або за домовленістю між батьками, одержувач аліментів має право на стягнення неустойки (пені) у розмірі 1% суми несплачених аліментів за кожен день прострочення від дня прострочення сплати аліментів до дня їх повного погашення або до дня ухвалення судом рішення про стягнення пені, але не більше 100% заборгованості.<br><br>
Передбачено штраф за несплату аліментів у % від суми заборгованості:<br>
<ul>
<li>понад 1 рік – 20%</li>
<li>понад 2 роки – 30%</li>
<li>понад 3 роки – 50%</li>
</ul>
Якщо розмір заборгованості зі сплати аліментів перевищує 3 місяці:
<ul>
<li>відомості про боржника вносяться до Єдиного реєстру боржників <a href="https://erb.minjust.gov.ua/#/search-debtors" target="_blank">https://erb.minjust.gov.ua/#/search-debtors</a>;</li>
<li>майно боржника арештовується виконавцем, вилучається та реалізується;</li>
<li>виконавець звертається до суду щодо застосування до боржника тимчасового обмеження у праві виїзду за межі України.</li>
</ul>
У разі відсутності відомостей про місце перебування боржника, за поданням виконавця судом виноситься ухвала про розшук боржника.<br><br>
За наявності заборгованості зі сплати аліментів, сукупний розмір якої перевищує суму відповідних платежів за чотири місяці, Законом встановлена можливість накладення обмежень на неплатників аліментів щодо:
<ul>
<li>виїзду за межі України </li>
<li>керування транспортними засобами </li>
<li>користування зброєю </li>
<li>полювання </li>
<li>вирішення питання про виїзд дитини за кордон. </li> 
</ul>
А також:
<ul>
<li>недопущення відчуження майна </li>
<li>автоматизований арешт коштів боржника </li>
</ul>
Вказані обмеження застосовуються тимчасово до погашення боржником суми у повному обсязі.  Підстава для застосування санкцій: постанова державного виконавця.<br><br>
До неплатників аліментів, заборгованість по сплаті аліментів яких перевищує 6 місяців (та 3 місяці для батьків важкохворої дитини), суд може застосовувати адміністративне стягнення у вигляді суспільно корисних робіт на строк від 120 до 240 годин. Подальша несплата аліментів – 240-360 годин. Якщо порушник ухиляється від виконання суспільно корисних робіт, до нього може бути застосовано адміністративний арешт до 10 діб за рішенням суду. <br><br>
За злісне ухилення від суспільно корисних робіт – позбавлення волі на строк до 2 років.<br><br>
    До <i>злісних неплатників*</i> застосовується кримінальна відповідальність, передбачена статтею 164 Кримінального кодексу України: 
<ul>
<li>громадські роботи до 240 годин;</li>
<li>арешт до 6 місяців; </li>
<li>обмеження волі до 3 років.</li>
</ul>
*Злісний неплатник – особа, що не виконує рішення суду (приховує доходи, змінює місце проживання чи роботи без повідомлення державного чи приватного виконавця) та має заборгованість зі сплати аліментів більше 3 місяців).

      <p><h4 id="anchor9"><b>9.Який порядок виїзду за кордон тому з батьків, хто проживає з дитиною?</b></h4></p>
      
Якщо Вам відомо місце проживання іншого з батьків, який не ухиляється та належно виконує батьківські обов’язки, Вам достатньо повідомити його рекомендованим листом, із зазначенням:
<ul>
<li>мети поїздки;</li>
<li>держави спрямування;</li>
<li>відповідного часового проміжку перебування у цій державі.</li>
</ul>
Нотаріальна згода іншого з батьків не потрібна.<br><br>
Слід зазначити, що термін такої поїздки не повинен перевищувати 1 місяць.

      <p><h4 id="anchor10"><b>10.Який порядок подачі скарги на рішення, дії або бездіяльність державного виконавця?</b></h4></p>
      
Згідно ст. 74 Закону України «Про виконавче провадження» рішення, дії або бездіяльність державного виконавця також можуть бути оскаржені стягувачем та іншими учасниками виконавчого провадження (крім боржника) до начальника відділу, якому безпосередньо підпорядкований державний виконавець. Рішення, дії та бездіяльність начальника відділу, якому безпосередньо підпорядкований державний виконавець, можуть бути оскаржені до керівника органу державної виконавчої служби вищого рівня.<br><br>
Скарга у виконавчому провадженні подається виключно у письмовій формі та має містити:
<ol>
<li>Найменування органу державної виконавчої служби, до якого вона подається;</li>
<li>Повне найменування (прізвище, ім’я та по батькові) стягувача та боржника, їхні місця проживання чи перебування (для фізичних осіб) або місцезнаходження (для юридичних осіб), а також найменування (прізвище, ім’я та по батькові) представника сторони виконавчого провадження, якщо скарга подається представником;</li>
<li>Реквізити виконавчого документа (вид документа, найменування органу, що його видав, день видачі та номер документа, його резолютивна частина);</li>
<li>Зміст оскаржуваних рішень, дій чи бездіяльності та посилання на порушену норму закону;</li>
<li>Викладення обставин, якими скаржник обґрунтовує свої вимоги;</li>
<li>Підпис скаржника або його представника із зазначенням дня подання скарги.</li>
</ol>
Рішення та дії виконавця, посадових осіб органів державної виконавчої служби щодо виконання судового рішення можуть бути оскаржені протягом 10 робочих днів з дня, коли особа дізналася або повинна була дізнатися про порушення її прав, свобод чи законних інтересів.<br><br>
Рішення, дії чи бездіяльність виконавця та посадових осіб органів державної виконавчої служби щодо виконання судового рішення можуть бути оскаржені боржником до суду, який видав виконавчий документ, у порядку передбаченому законом.

      <p><h4 id="anchor11"><b>11.Чому можуть затримуватись перерахування аліментних платежів, які утримуються на підприємстві, де отримує дохід боржник?</b></h4></p>
      
Законом України «Про внесення змін до деяких законодавчих актів України щодо створення економічних передумов для посилення захисту права дитини на належне утримання» від 28.08.2018 року внесено зміни до Закону України «Про виконавче провадження» в частині перерахування аліментів не напряму стягувачу, а на депозитний рахунок виконавчої служби, що значно затримує вчасне отримання коштів стягувачем.<br><br>
Аби пришвидшити процес отримання аліментів, стягувач може самостійно надіслати виконавчий документ про стягнення періодичних платежів безпосередньо до бухгалтерії підприємства, установи, організації, фізичній особі - підприємцю, фізичній особі, які виплачують боржнику відповідно заробітну плату, пенсію, стипендію та інші доходи.<br><br>
Одночасно з виконавчим документом стягувач подає заяву, в якій зазначаються:
<ol>
<li>Реквізити банківського рахунка, на який слід перераховувати кошти;</li>
<li>Прізвище, ім’я, по батькові стягувача, реквізити документа, що посвідчує його особу.</li>
</ol>

      

  </body>
</html>